/*html {
    height: 100%;
    margin:0px;
    background-color:#999999;
    background-image: url(http://s22.postimg.org/e03w9stjl/main_bg.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;*/

body {
  font-size: 16px;
  color: #fff;
  background: url('../images/pizza-hd-background.jpg') no-repeat center center fixed;
  font-family: 'Oxygen', sans-serif;
  background-position:center;
  background-size: cover;
}

h1 {
	font-size:3em;
	/*padding: 5px 10px 5px 10px;*/
	text-shadow: 3px 3px 3px #191321;
	/*color: #feeea7;*/
}

/** HEADER **/
#header-nav {
  background-color: #191321;
  border-radius: 0;
  border: 0;
  box-shadow: 1px 1px 7px #222;
  padding-bottom:30px;
}

.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Alegreya Sans SC', serif;
  color: #feeea7;
  font-size: 3.0em;
  text-transform: none;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 15px;
  line-height: .75;
  float: left;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #feeea7;
  text-align: center;
}
#nav-list a:hover {
  background: #3a2939;
}
/*#nav-list a:active {
  background: #795777;
}*/
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button .navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #feeea7;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background-color: #795777;
}
.navbar-default .navbar-toggle {
	border-color: #feeea7;
	
}	
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color:#795777;
}
.navbar-header div {
	padding-bottom: 0px;
}


/* END HEADER */




/*     MAIN CONTENT BEGINS     */
section {
	text-align:justify;
	background-color: #191321;
	border-radius:20px;
	opacity:0.85;
	color: #feeea7;
	margin: 20px 0px;
}
#chicken, #sushi, #beef {
	/*margin: 10px 30px 10px 30px;*/
	padding: 10px 30px;
}
#chicken-title, #beef-title, #sushi-title {
	font-size: 2em;
}

/*      FOOTER     */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #191321;
  border-top: 0;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 2;
}
#hours > span, #address > span {
  font-size: 1.3em;
}
#address p {
  color: #c4533f;
  font-size: .8em;
  line-height: 1.8;
}
#testimonials {
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}
.panel-footer section {
	color:#a6ce4e;
}
/* END FOOTER */





/********** Large devices only **********/
@media (min-width: 1200px) {
 
}
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */

}
/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */

}
/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 10vw; /* 1vw = 1% of viewport width */
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  #header-nav {
  background-color: #191321;
  border-radius: 0;
  border: 0;
  box-shadow: 1px 1px 7px #222;
  padding-bottom:10px;
  }
  section {
	text-align:justify;
	background-color: #191321;
	border-radius:20px;
	opacity:0.8;
	color: #feeea7;
	margin: 10px 30px 10px 30px;
  }
  #chicken {
	margin: 10px 30px 10px 30px;
	padding: 10px 30px;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
}

